.paginationDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 30px;
}

.paginationButton {
    background: #605f5f;
    border-radius: 5px;
    color: white;
    width: 190px;
    height: 40px;
    transition: 0.3s;
    font-size: 16px;
}

.paginationButton:hover {
    background: #3c3939;
    transition: 0.3s;
}