.searchIcon {
    width: 25px;
    height: 25px;
}

.searchForm {
    display: flex;
    align-items: center;
    gap: 5px;
}

.searchInput {
    width: 240px;
    height: 30px;
    padding: 5px;
    background-color: #222222;
    color: white;
}