.homeDiv {
    width: 750px;
    color: white;
    padding-left: 90px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    gap: 15px;
    color: rgb(223, 223, 223);
    font-size: 15px;
    margin-bottom: 10px;
}

.image {
    height: 20px;
    width: 40px;
}

.ratingDiv {
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(223, 223, 223);
    font-size: 15px;
    margin-bottom: 10px;
}

.movieLink {
    background-color: #494444;
    width: 200px;
    padding: 5px 15px;
    text-align: center;
    color: white;
    border: 1px solid #676767;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

.movieLink:hover {
    background-color: #302e2e;
    transition: 0.3s;
}
